<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 d-none d-md-block">
    <div class="flex h-16 items-center justify-between">

      <div class="hidden md:flex items-center">
        <div class="ml-10 flex items-baseline space-x-4">
          <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Main Page</a>
          <a href="https://github.com/gliv711" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Neder's Github</a>
          <a href="https://calendly.com/nedermfarrej2/solowithme" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Meeting</a>
          <a href="https://www.linkedin.com/in/neder-mfarrej-7b14671a4/" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">LinkedIn</a>

        </div>
      </div>

      
    </div>
  </div>

  <div class="md:hidden" id="mobile-menu">
    <div class="flex flex-col ">
      <div class="flex">
        <a class="bg-gray-900 text-white block rounded-md px-6 py-2 text-base font-medium" aria-current="page">Main Page</a>
        <a href="https://github.com/gliv711" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">GITHUB</a>
        <a href="https://calendly.com/nedermfarrej2/solowithme" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Meeting</a>
        <a href="https://www.linkedin.com/in/neder-mfarrej-7b14671a4/" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">LinkedIn</a>

      </div>
    </div>
  </div>
</nav>
