<div class=" py-24 sm:py-10 bg-black">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <div class="d-none d-md-block">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-white">Projects</h2>
      </div>
      <h2 class="md:hidden text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-white text-center">
        Projects</h2>

    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/img/chat.webp" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 text-white">CHATTING WEBSITE
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 text-white">Participated in the development of
              a chatting
              website, contributing to the
              design and implementation of key features and functionality.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/img/artofcode.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 text-white">AOC PLATEFORM</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 text-white">Contributed in the development of
              this
              platform using the latest tachnologies.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/img/ej.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 text-white">ENNAJIM.TN</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 text-white">Designed and developed a platform
              to match
              job seekers with companies for a startup</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/img/android.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 text-white">Mobile Application
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 text-white">Conception and development of a
              small mobile
              application using JAVA and SQLITE that registers users then proceeds to identify a plant's name using
              the user's camera.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/img/biz.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 text-white">Municipality
              MANAGEMENT
              SYSTEM</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 text-white">Conception and development of an
              application
              for managing a municipality, streamlining processes, and improving citizen services.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/img/rh.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900 text-white">CLUB MANAGEMENT
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600 text-white">Designed and developed an
              application for
              Club Management</p>
          </div>
        </div>
      </li>


    </ul>
  </div>
</div>