<div class="container">
    <h1 class ="mt-2 text-center">Club and associations</h1>
    <div class="integration-list row justify-content-center py-5">
        <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg">Leo Club La Galite<a ><img class="shadow rounded-circle" src="assets/img/leo.png" alt=""></a></div>
        
        <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg">Tunivision FSB<a ><img class="shadow rounded-circle" src="assets/img/fsb.jpg" alt=""></a></div>
        <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><a >AIESEC Bizerte<img class="shadow rounded-circle" src="assets/img/aiesec.jpg" alt=""></a></div>
        <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 "><a >AOC CLUB FSB<img class="shadow rounded-circle" src="assets/img/aoc.jpg" alt=""></a></div>
        
    </div>
    <!--//row-->
   
</div>