<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<section class="section gray-bg" id="resume">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-lg-12 m-15px-tb">

                <div class="resume-box">
                  
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <span class="time">2019 - 2023</span>
                            <h5>Bachelor's degree in Computer Science</h5>
                            <p>Faculty of sciences of Bizerte</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-user-graduate"></i>
                            </div>
                            <span class="time">2014 - 2019</span>
                            <h5>High school degree, Computer Science</h5>
                            <p>Habib Thameur High School</p>
                        </li>


                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>